@import url("https://fonts.googleapis.com/css?family=Jaldi:400,700&display=swap");

body,
h1,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Jaldi, sans-serif !important;
}

body {
  background-color: #eee;
}

.cmd-navbar {
  background-color: #fff;
  border-top: 4px solid rgb(220, 0, 70);
}

.cmd-navbar h1 {
  margin: 0;
  font-size: 30px;
  /* font-weight: 700; */
}

.cmd-navbar h1 img {
  height: 2em;
  vertical-align: bottom;
}

.cmd-sidebar {
  position: fixed;
  top: 80px;
  bottom: 0;
  box-sizing: border-box;
  width: 300px !important;
  padding: 45px 45px 60px 45px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
}

.cmd-main {
}

.cmd-nav .uk-nav-header {
  padding: 8px 0;
  border-bottom: 1px solid #e5e5e5;
}

#traingraph canvas {
  margin: auto;
  border: 1px solid #ccc;
  background-color: #eee;
}
